
.app-home-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.app-content-container {
  min-height: 90vh;
  height: auto;
  background: rgba(13, 13, 13, 0.9);
  margin-top:60px;
  color: #fff !important;
  margin-bottom: 60px;
}